.site-nav, .services-list, .team-list, .socials-list, .filter, .portfolio, .advantages-list, .clients-list, .footer-contacts, .footer-socials, .contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav .page, .socials-list .socials-link, .portfolio-link, .footer-contacts .contact-link, .contact-link, .logo {
  text-decoration: none;
}

.socials-list .socials-link, .footer-socials .socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list .socials-link:hover, .footer-socials .socials-link:hover, .socials-list .socials-link:focus, .footer-socials .socials-link:focus {
  background-color: #2196f3;
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-nav .item {
    position: relative;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 85px;
  }
}

.site-nav .page {
  display: block;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .page {
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .page {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 18px;
  }
}

.site-nav .page :hover,
.site-nav .page :focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-content {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 696px;
  }
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #ffffff;
  color: #2196f3;
  border-color: #2196f3;
  outline-color: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.none {
    display: block;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .services-list {
    display: none;
  }
}

.services-list .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.services-list .item:not(:last-child) {
  margin-right: 30px;
}

.none {
  display: none;
}

.service-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section.background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.worker-card {
  margin: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .worker-card {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .worker-card {
    width: calc((100% - 30px * 4) / 4);
  }
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-list .socials-link {
  fill: #afb1b8;
}

.socials-list .socials-link:hover, .socials-list .socials-link:focus {
  fill: #ffffff;
}

.worker-info {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
}

.worker-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-profession {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-section.logo {
  margin-bottom: 20px;
}

.tablet-footer {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.copyright {
  display: none;
}

@media screen and (min-width: 1200px) {
  .copyright {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 1200px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.portfolio .link {
  color: #212121;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter .item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: transparent;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .filter-button:hover,
.portfolio .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-card {
  margin: 15px;
  margin-bottom: 30px;
  /*width: calc((100% - 60px) / 3);*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  /*&:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }*/
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card {
    width: calc((100% - 30px * 3) / 3);
  }
}

.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
}

.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-item {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-type {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-top {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card .portfolio-link:hover .content-overlay,
.portfolio-card .portfolio-link:focus .content-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.advantages-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advantages-item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 30px * 4) / 4);
  }
}

.advantages-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages-title {
    text-align: center;
  }
}

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e5e5e5;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.modal {
  position: absolute;
  min-width: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
  }
}

.page-header {
  position: relative;
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-button:hover .menu-open,
.menu-button:focus .menu-open {
  fill: #2196f3;
}

.menu-button:hover .menu-close,
.menu-button:focus .menu-close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-open {
  display: none;
}

.menu-button.is-open .menu-open {
  display: block;
}

.menu-button.is-open .menu-close {
  display: none;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client-item {
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 30px * 6) / 6);
  }
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.connection-form {
  padding: 40px;
  width: 450px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .connection-form {
    width: 528px;
  }
}

.form-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input:focus + .form-label,
.form-input:hover + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  font-size: 12px;
  color: #2196f3;
  border-color: #2196f3;
  -webkit-transform: translate(-25px, -40px);
          transform: translate(-25px, -40px);
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  fill: #2196f3;
}

.textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

/*Checkbox*/
.checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/checkbox.svg");
  background-size: contain;
  background-origin: border-box;
}

.agreement-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .agreement-text {
    font-size: 14px;
  }
}

.agreement-link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .agreement-link {
    font-size: 14px;
  }
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 30px;
  height: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover, .close-button:focus {
  fill: #2196f3;
}

/*top: 50%;
  left: 16px;
  transform: translateY(-50%);
  top: 0;
  right: 0;
  transform: translate(25%, -25%);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;*/
.footer-contacts {
  margin-bottom: 60px;
  text-align: center;
}

.footer-contacts .contact-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts .contact-link:hover, .footer-contacts .contact-link:focus {
  color: #2196f3;
}

.address {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .address {
    width: calc((100% - 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .address {
    width: calc(100% / 4);
    text-align: start;
  }
}

.address-info {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.label {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.sign-us {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .sign-us {
    width: calc(100% / 4);
  }
}

.sign-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-icon {
  display: inline-block;
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover .sign-icon {
  fill: #2196f3;
}

.sign-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
}

.sign-input:hover, .sign-input:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
}

.sign-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.join-us {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join-us {
    width: calc(100% / 4);
  }
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials .item {
  margin-right: 10px;
}

.footer-socials .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .contacts-list .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 480px) {
  .contacts-list .item {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list .item {
    margin-bottom: 10px;
  }
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

.envelope-icon {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .envelope-icon,
.contact-link:focus .envelope-icon {
  fill: #2196f3;
}

.smartphone-icon {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .smartphone-icon,
.contacts-link:focus .smartphone-icon {
  fill: #2196f3;
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo.accent {
  color: #212121;
}

.address .logo {
  margin-bottom: 20px;
}

.logo.inverse {
  color: #ffffff;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */