@import "./utils/variables";
@import "./utils/placeholders";
@import "./base/normalize";
@import "./utils/visually-hidden";
@import "./components/site-nav";
@import "./components/current-page";
@import "./components/hero";

@import "./components/logo";

@import "./components/section";
@import "./components/our-services";
@import "./components/our-team";

@import "./components/footer";

@import "./components/copyright";
@import "./components/portfolio-filter";
@import "./components/portfolio";
@import "./components/advantages";

@import "./components/modal-window";

@import "./components/menu-container";
@import "./components/menu-button";
@import "./components/page-header";
@import "./components/clients";
@import "./base/general";

@import "./components/contact-us-form";
@import "./components/footer-contacts";
@import "./components/sign-us-form";

@import "./components/footer-socials";
@import "./components/contacts";
