.advantages-list {
  @extend %list;
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  & .text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.advantages-item {
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 4) / 4);
  }
}

.advantages-title {
  margin-bottom: 10px;
  text-align: center;

  color: $primary-title-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $section-bg-color;
  border-radius: 4px;
}
