.connection-form {
  padding: 40px;
  width: 450px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.form-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-title-color;
}

.form-field {
  position: relative;
  display: block;

  width: 100%;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: $primary-text-color;

  .form-input:focus + &,
  .form-input:hover + &,
  .form-input:not(:placeholder-shown) + & {
    font-size: 12px;
    color: $accent-color;
    border-color: $accent-color;
    transform: translate(-25px, -40px);
  }
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: $fill-transition;

  .form-input:focus ~ &,
  .form-input:hover ~ &,
  .form-input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

.textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

/*Checkbox*/

.checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid $primary-title-color;
  border-radius: 2px;
  transition: $fill-transition;

  .checkbox:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url("../images/checkbox.svg");
    background-size: contain;
    background-origin: border-box;
  }
}

.agreement-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.agreement-link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  height: 50px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;

  transform: translate(-50%, 50%);

  width: 30px;
  height: 30px;
  transition: $color-transition;
  background-color: $primary-white-color;
  border: none;
  outline: none;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

/*top: 50%;
  left: 16px;
  transform: translateY(-50%);
  top: 0;
  right: 0;
  transform: translate(25%, -25%);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;*/
