.copyright {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    width: 1200px;

    color: $copyright-color;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
