.current {
  color: $accent-color;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;

    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
