.footer-contacts {
  @extend %list;
  margin-bottom: 60px;
  text-align: center;

  & .contact-link {
    @extend %link;

    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: $color-transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.address {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 3);
  }
  @media screen and (min-width: $desktop) {
    width: calc(100% / 4);
  }
  text-align: center;
}

.address-info {
  font-style: normal;
  margin-bottom: 8px;

  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
