.footer {
  background-color: $footer-bg-color;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    align-items: baseline;
    padding-top: 48px;
    padding-bottom: 28px;
  }
}
