.footer-contacts {
  @extend %list;
  margin-bottom: 60px;
  text-align: center;

  .contacts-link {
    @extend %link;

    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: $color-transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.address {
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4);
  }
  text-align: center;
}

.address-info {
  font-style: normal;
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
