.footer {
  background-color: $footer-bg-color;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
  }

  &.logo {
    margin-bottom: 20px;
  }
}

.tablet-footer {
  width: 100%;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
