.join-us {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    width: calc(100% / 4);
    text-align: start;
  }
}

.footer-socials {
  @extend %list;
  display: flex;
  justify-content: center;

  & .item {
    margin-right: 10px;
  }

  & .socials-link {
    @extend %socials;
    background-color: $footer-socials-bg-color;
    fill: $primary-white-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
