.footer-contacts {
  @extend %list;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: start;
    margin-bottom: 0;
  }

  & .contact-link {
    @extend %link;

    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: $color-transition;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
      justify-content: center;
    }

    @media screen and (min-width: $desktop) {
      justify-content: start;
    }
  }
}

.address {
  text-align: center;

  @media screen and (min-width: $tablet) {
    width: calc(100% / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 4);
    text-align: start;
  }
}

.address-info {
  margin-bottom: 8px;
  font-style: normal;
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
