.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  /*width: 360px;*/

  @media screen and (min-width: $desktop) {
    width: 696px;
  }
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $button-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;

  transition: $color-transition;

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}
