.logo {
  @extend %link;

  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  &.accent {
    color: $primary-title-color;
  }

  .address & {
    margin-bottom: 10px;
  }

  &.inverse {
    color: $primary-white-color;
  }
}
