.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 10;
  background-color: $primary-white-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
  }
}

.page-header {
  position: relative;
}
