.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  overflow-y: scroll;
  padding: 93px 15px;
  background-color: $modal-bg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.5);
}

.modal {
  position: absolute;

  min-width: 450px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-white-color;

  @media screen and (min-width: $desktop) {
    min-width: 528px;
  }
}
