.section.background {
  background-color: $section-bg-color;
}

.team-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.worker-card {
  margin: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $primary-white-color;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 4) / 4);
  }
}

.socials-list {
  @extend %list;

  display: flex;
  justify-content: center;

  & .socials-link {
    @extend %link;
    @extend %socials;

    fill: $team-socials-color;

    &:hover,
    &:focus {
      fill: $primary-white-color;
    }
  }
}

.worker-info {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;

  text-align: center;
}

.worker-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: $primary-title-color;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-profession {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
