.services-list {
  @extend %list;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  display: flex;

  & .item {
    position: relative;
    width: calc((100% - 60px) / 3);
  }

  & .item:not(:last-child) {
    margin-right: 30px;
  }
}

.service-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}
