.page-header {
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
