.portfolio {
  @extend %list;
  margin: -15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.portfolio-card {
  margin: 15px;
  margin-bottom: 30px;
  /*width: calc((100% - 60px) / 3);*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 3) / 3);
  }

  /*&:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }*/

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-link {
  @extend %link;
  display: block;
}

.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-item {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-title-color;
}

.portfolio-type {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-top {
  position: relative;
  overflow: hidden;
  height: 294;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.content-overlay {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 77px 24px;

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: $primary-white-color;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-card .portfolio-link:hover &,
  .portfolio-card .portfolio-link:focus & {
    transform: translateY(0);
  }

  @media screen and (min-width: $tablet) {
    padding: 49px 24px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }
}
