.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.none {
  display: none;
}
