.label {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;

  color: $button-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.sign-us {
  text-align: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: calc(100% / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc(100% / 4);
    text-align: start;
  }
}

.sign-button {
  display: flex;
  padding: 10px 28px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-icon {
  display: inline-block;
  margin-left: 10px;
  fill: $primary-white-color;
  transition: $fill-transition;

  .button:hover & {
    fill: $accent-color;
  }
}

.sign-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: $primary-white-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: $accent-color;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

.sign-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;

  @media screen and (min-width: $desktop) {
    display: flex;
    max-width: 358px;
  }
}
