.site-nav {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;

    & .item {
      position: relative;
    }

    & .item + .item {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-left: 85px;
  }

  & .page {
    @extend %link;

    display: block;

    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      font-weight: 500;
    }

    color: $primary-title-color;
    @media screen and (min-width: $desktop) {
      font-size: 18px;
    }

    transition: $color-transition;

    & :hover,
    & :focus {
      color: $accent-color;
    }
  }
}
