.site-nav {
  @extend %list;

  & .item {
    /*position: relative;*/
  }

  & .item + .item {
  }

  & .page {
    @extend %link;

    display: block;

    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 8px;

    color: $primary-title-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: $color-transition;

    & :hover,
    & :focus {
      color: $accent-color;
    }
  }
}
