%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%socials {
  display: flex;
  justify-content: center;

  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
